@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mt-2{
  margin-top: 1rem;
}
.float-right{
  float: right;
}
.ml-auto{
  margin-left: auto;
}

.main-page{
  padding: 3rem;
}

.main-page p{
  font-weight: 600;
}

.button{
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #13c98a;
  line-height:1;
  font-size: 1rem;
  border:0;
  border-radius: 3rem;
  color: #fff;
  padding: 1rem 3rem;
}

.button:hover{
  background-color: #2e09b6;
}

.form-data .form-value{
  color: #aaa;
}
