.form-page{
	min-height: 100vh;
	background: #474747;
	padding: 3rem;
}

.form-card{
	background: #fff;
	margin: 3rem auto;
	max-width: 30%;
	padding: 1rem 2rem 2rem;
}

.form-title{
	font-weight: 500;
}

.form-card-body input, .form-card-body textarea{
	box-sizing: border-box;
	width: 100%;
	padding: 1rem .5rem;
	border: 2px solid #ddd;
	border-radius: .5rem;
	font-size: 1rem;
	color: #000;
	font-family: 'Montserrat';
	font-weight: 600;
}

.form-card-body input::placeholder{
	color: #bbb;
	font-weight: 500;
}

.form-card-body input:hover, .custom-select .custom-select-area:hover, .form-card-body textarea:hover{
	border-color: #aaa;
}

.form-card-body input:focus, .form-card-body textarea:focus{
	outline: none;
	border-color: #aaa;
}

.form-card-body select option{
	padding: 1rem 0.5rem;
}

.form-card-body .form-footer{
	display: flex;
}

.reset-button{
	background-color: #bbb;
}
.reset-button:hover{
	background-color: #aaa;
}

.input-box{
	position: relative;
}
.input-box.filled input{
	padding: 1.5rem .5rem .5rem;
}
.input-box::after{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 100%;
	position: absolute;
	right: 1rem;
	top: 1rem;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.input-box.filled input, .input-box.filled .custom-select-area, .input-box.filled textarea{
	border-color:#13c98a;
}
.input-box.with-error input, .input-box.with-error .custom-select-area, .input-box.with-error textarea{
	border-color: #f8478d;
}
.input-box.filled::after{
	content: '';
	background-color: #13c98a;
	background-image: url('./success-sign.svg');
}
.input-box.with-error::after{
	content: '';
	background-color: #f8478d;
	background-image: url('./warning-sign.svg');
}

.form-card-body span.placeholder{
	position: absolute;
    top: 0.4rem;
    font-size: 0.8rem;
    color: #bbb;
    font-weight: 500;
}

.input-box span.placeholder{
	left: .5rem;
}

.input-box .custom-select-area{
	padding: 1rem .5rem;
	border: 2px solid #ddd;
	border-radius: .5rem;
	color: #bbb;
	position: relative;
	cursor: pointer;
}
.input-box .custom-select-area::after{
	content: '';
	background-image: url('./down-arrow.svg');
	background-size: cover;
	position: absolute;
	right: 1rem;
	top: 1.15rem;
	width: 12px;
	height: 12px;
}
.input-box .custom-select-area.open::after{
	background-image: url(./up-arrow.svg);
}
.input-box .custom-select-area.open{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-color: #bbb;
}
.input-box .selected-item{
	color: #000;
	margin-top: 0.5rem;
	margin-bottom: -.5rem;
	font-weight: 600;
}
.input-box .custom-select-dropdown{
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	border:2px solid #bbb;
	border-top: 0;
	box-shadow: #ddd 1px 2px 5px;
	z-index: 2;
}
.input-box .custom-select-option{
	padding: 1rem .5rem;
	border-top: 1px solid #eee;
	cursor: pointer;
}
.input-box .custom-select-option:hover{
	background-color: #eee;
}
